<ion-header>
  <ion-toolbar>
    <ion-title class="login-title">
      Iniciar Sesión
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="login-container">
    <div class="login-form">
      <form [formGroup]="formLogin" (ngSubmit)="onSubmit()">
        <ion-item>
          <ion-label position="floating" style="color: black;">Correo electrónico</ion-label>
          <ion-input type="email" formControlName="email" style="color: black;" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating" style="color: black;">Contraseña</ion-label>
          <ion-input type="password" style="color: black;" formControlName="password" required></ion-input>
        </ion-item>
        <ion-button type="submit" expand="block">Iniciar Sesión</ion-button>
      </form>
      <p class="ion-text-center">¿No tienes una cuenta? <a routerLink="/register">Regístrate</a></p>
    </div>
  </div>
</ion-content>
