<ion-header >
  <ion-toolbar>
    <ion-title>digimon-list</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()"> Salir </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  
  <!-- <ion-button (click)="logout()"> Salir </ion-button> -->
  <ion-grid>

    <ion-row>
      <ion-col size="6" size-md="4" size-lg="2" *ngFor="let digimon of digimons" class="custom-col">
        <ion-card (click)="presentModal(digimon)">
          <img [src]="digimon.image" [alt]="digimon.name" (error)="onImageError($event)">
          <ion-card-header>
            <ion-card-title>{{ digimon.name }}</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>

    </ion-row>
    <!-- <ion-row>
      <ion-col size="4" *ngFor="let digimon of digimons">
        <ion-card (click)="presentModal(digimon)">
          <img [src]="digimon.image" alt="Digimon Image"> 
          <ion-card-header> 
            <ion-card-subtitle>{{ digimon.name }}</ion-card-subtitle>
          </ion-card-header> 
        </ion-card>
      </ion-col>
    </ion-row> -->
  </ion-grid>

</ion-content>
<ion-footer class="footer">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="previousPage()" [disabled]="pageable.currentPage === 0">
        Anterior
      </ion-button>
    </ion-buttons>
    <ion-title>{{ pageable.currentPage + 1 }} de {{ pageable.totalPages }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="nextPage()" [disabled]="pageable.currentPage + 1 === pageable.totalPages">
        Siguiente
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>