ion-content {
    --background: #f4f4f4;
}

.footer {
    position: fixed;
    bottom: 0;
} 

.custom-col img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.custom-col ion-card-header {
    height: 75px;
}

.custom-col ion-card-title {
    font-size: 22px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.custom-col:last-child {
    margin-bottom: 0;
    /* Elimina el margen inferior del último elemento */
}